body{
	font-size: 1.4em;
	font-weight: 300;
	line-height: 1.6;
	font-family: 'Roboto', sans-serif;
	color: #110B06;
}

.nopadding{padding:0;}

.nomargin{margin:0;}

.parallax-window {
    min-height: 100px;
	height:100vh; 
}

.logo2{
	max-width: 80%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	padding-top: 20%;
	-webkit-opacity: 0.5;
	opacity: 1; 
	filter:Alpha(Opacity=50);
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	 -moz-opacity: 0.5;
	 -khtml-opacity: 0.5;
}

.row-text{
	margin-top: 100px;
	margin-bottom: 100px;
	/*background: #ffc057; #fff;*/
	padding: 130px 0px 130px 0px; /*top right bottom left*/
}

.row-text h4{
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.2em;
	line-height: 1.45;
	font-family: 'Roboto', sans-serif;
	color: #110B06;
	text-transform: uppercase;
}

.row-text p{
	padding-top: 50px;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.8;
	font-weight: 300;
	letter-spacing: 0.1em;
	font-family: 'Roboto', sans-serif;
	color: #110B06;	
}

.row-projects{
	margin:0;
	/*background: #fff;*/
	padding: 130px 0px 130px 0px;
}

.row-projects h4{
	text-align: center;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 0.2em;
	line-height: 1.45;
	font-family: 'Roboto', sans-serif;
	color: #110B06;
	text-transform: uppercase;
	padding-bottom: 70px;
}

.row-projects p{
	font-weight: 300;
	padding-top: 30px;
	padding-bottom: 0px;
	font-size: 1.2em;
	line-height: 1.45;
	font-family: 'Roboto', sans-serif;
	color: #110B06;
	
}

.row-contact{
	margin:0;
	padding: 100px 50px 100px 50px;	
}

.row-contact h4{
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.2em;
	line-height: 1.45;
	font-family: 'Roboto', sans-serif;
	color: #110B06;
	text-transform: uppercase;
	padding-bottom: 30px;
}

.row-contact h5{
	text-align: center;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 1.45;
	font-family: 'Roboto', sans-serif;
	color: #110B06;
	text-transform: uppercase;
	padding-bottom: 70px;
}

.row-contact p{
	text-align: center;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 1.45;
	font-family: 'Roboto', sans-serif;
	color: #110B06;
	text-transform: uppercase;
	padding-bottom: 70px;
	
}

.row-footer{
	
	padding: 0px 0px 0px 0px;
	background: #ffc057;
}

.row-stock{
	background-position: center;
	background-size: cover;
	background: #000;
}

.projects{
	padding: 2px 2px 2px 2px; /*top right bottom left*/
}

.thumbnail {
	margin:0px;
	padding: 0 2px 0 2px;
	border: 0px solid #ddd;
	border-radius: 0px;
	/*width: 120%;*/
	background: transparent;
}

/* Button */

.button{
	border-color: #110B06;
	font-size: 1em;
	border-radius: 0;
	color: #110B06;
	background: transparent;
}

.btn-default:hover 
{
	color: #110B06;
  background-color: #ffc057;
  border-color: #ffc057;
}


/* Media Queries */

@media(max-width:767px) {
    .row-text {
		padding-top: 50px;
		padding-bottom: 50px;
    }
}

@media(max-width:767px) {
    .row-text h4 {
        font-size: 1.2em;
		font-weight: 500;
		
    }
}

@media(max-width:767px) {
    .row-text p {
        font-size: 1em;
		font-weight: 500;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
    }
}

@media(max-width:767px) {
    .row-projects {
        padding-right: 10px;
		padding-left: 10px;
		 padding-top: 50px;
		padding-bottom: 50px;
    }
}

@media(max-width:767px) {
    .row-projects h4 {
        font-size: 1.2em;
		font-weight: 500;
		padding-bottom: 20px;
    }
}

@media(max-width:767px) {
    .row-projects p {
        font-size: 1em;
		font-weight: 500;
		padding-bottom: 40px;
    }
}

@media(max-width:767px) {
    .row-contact {
        padding-top: 50px;
		padding-bottom: 50px;
    }
}

@media(max-width:767px) {
    .row-contact h4 {
        font-size: 1.2em;
		font-weight: 500;
		
    }
}

@media(max-width:767px) {
    .row-contact h5 {
        font-size: 1em;
		font-weight: 500;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
    }
}

@media(max-width:767px) {
    .button {
       font-size: 1.1em;
    }
}

@media(max-width:767px) {
    .parallax-window {
		height:60vh; 
	}
}

@media(max-width:767px) {
    .logo2 {
		max-width: 50%;
		padding-top: 30%;
	}
}


/* Navbar start */

.navbar-inverse{
  background:#b5aaa5 !important;
  border-bottom:4px solid #ffc057 !important;
  -webkit-opacity: 0.5;
	opacity: .8; 
	filter:Alpha(Opacity=50);
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	 -moz-opacity: 0.5;
	 -khtml-opacity: 0.5;
}

.navbar-brand{
  font:1em Roboto !important;
  text-transform:uppercase;
  color:#FFF !important;
  letter-spacing:2px;
  margin-top:2px;
}

.nav{
	margin-bottom:0px;
	}

.nav a{
    font:500 0.9em Roboto;
    letter-spacing:2px;
    padding:16px !important;
    color:#fff !important;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
  }
  a:hover{
    color:#FFF !important;
  }
   .active > a{
    background:#a3958f !important;
  }
  li{
    position:relative;
  }
}

.navbar-inverse .navbar-toggle{
  border:none;
}

.navbar-collapse{
  box-shadow:none !important;
  border:none !important;
}

.navbar-inverse .navbar-toggle:hover{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:focus{
  background:transparent !important;
}

.navbar-inverse .navbar-toggle:active{
  background:transparent !important;
}

.icon-bar{
  background:#fff !important;
}

.hover{
  display:block;
  position:absolute;
  width:0%;
  height:100%;
  top:0px;
  left:0px;
  background:#ffc057 !important;
  z-index:0;
  opacity:0;
}

@media (max-width: 767px) {
.nav{
  padding-bottom:20px;
  a{
    padding:12px !important;
  }
}
}

@media (max-width: 480px) {
  .nav{
    padding-bottom:20px;
  }
}

@media(max-width:767px) {
    .navbar-brand {
		font-size: 0.6em !important; 
	}
}

.image-hover * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.image-hover {position:relative;width:566px;height:300px;display:inline-block;overflow:hidden;background:#fff;border:10px solid #fff;
box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);-webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3)}
.image-hover a {text-decoration:none}

.image-hover img {margin:-100px 0px 0px -100px}

/*** effect zoom in ***/

.img-zoom-in img 
{
transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
}

.img-zoom-in:hover img 
{
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1)
}

/* These are the important classes */
.img-hover {
  width: 320px; /*width & height ratio from images you use*/
  height: 179px;
  background-repeat:no-repeat;
  background-size: 100%;
  display: inline-block;
  background-position: 50% 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-hover:hover {
  background-size: 110%;
}

/* used to set the background images */
.img1 {
  background-image: url('http://cdn.morguefile.com/imageData/public/files/d/DMedina/06/l/14041601315pps2.jpg');
}

.img2 {
  background-image: url('http://cdn.morguefile.com/imageData/public/files/m/Maryhere/06/l/1401682920m3yf7.jpg');
}

.img3 {
  background-image: url('http://cdn.morguefile.com/imageData/public/files/s/SuriChutkoi/10/l/14142585899wotz.jpg');
}




